@using Dominio.Entidades;

@if (ViewBag.mensaje != null)
{
    <div class="alert alert-success mb-2 mt-2" role="alert">
        @ViewBag.mensaje
    </div>
}

@if (ViewBag.mensaje_error != null)
{
    <div class="alert alert-danger mb-2 mt-2" role="alert">
        @ViewBag.mensaje_error
    </div>
}

<div>
    <h1>@ViewBag.Titulo</h1>

    <div class="mb-3 mt-3">
        <form action="/Publicacion/ListadoPublicacionXNombre" method="post">
            <input type="text" name="nombre" placeholder="Nombre" />
            <input type="submit" value="Filtrar"/>
        </form>
        @if (Context.Session.GetString("rol") == "Cliente")
        {
            <a href="/Publicacion/Index" class="">Ver Todo</a>
            <a href="/Publicacion/ListadoVentas" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Ver ventas</a>
            <a href="/Publicacion/ListadoSubastas" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Ver subastas</a>
        }
    </div>

    @if (ViewBag.CantPublicaciones == 0)
    {
        <div class="alert alert-warning mb-2 mt-2" role="alert">
            No hay publicaciones
        </div>
    }

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                @if (Context.Session.GetString("rol") == "Administrador")
                {
                    <th>Fecha de publicacion</th>
                }
                <th>Estado</th>
                <th>Articulos</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            @{
                bool Isclient(Publicacion item)
                {
                    var co = Context.Session.GetString("rol") == "Administrador";
                    return co ? item is Subasta : true;
                }
            }
            @foreach (var item in ViewBag.Publicaciones){
                @if (Isclient(item))
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Nombre</td>
                        @if (Context.Session.GetString("rol") == "Administrador")
                        {
                            <td>@item.FechaPublicacion</td>
                        }
                        <td>
                            @if (item.EstadoPublicacion == Publicacion.Estado.Abierto)
                            {
                                <span class="text-success">@item.EstadoPublicacion</span>
                            } else if (item.EstadoPublicacion == Publicacion.Estado.Cerrado)
                            {
                                <span class="text-danger">@item.EstadoPublicacion</span>
                            } else
                            {
                                <span class="text-warning">@item.EstadoPublicacion</span>
                            }
                        </td>
                        <td>
                            @if (item is Venta)
                            {
                                <a href="/Publicacion/VerVenta/@item.Id">Ver</a>
                            }
                            else
                            {
                                <a href="/Publicacion/VerSubasta/@item.Id">Ver</a>
                            }
                        </td>
                        <td>
                            @if (item.PrecioFinal != 0)
                            {
                                <span class="p-1 rounded text-success" style="font-weight: bold">$@item.PrecioFinal</span>
                            }
                            else 
                            {
                                <span class="text-danger" style="font-weight: bold">-</span>
                            }
                        </td>
                </tr>
            }
        }
    </table>
</div>