@using Dominio.Entidades;

@{
    var p = ViewBag.Subasta;
}

@if (ViewBag.mensaje != null)
{
    <div class="alert alert-danger mb-2 mt-2" role="alert">
        @ViewBag.mensaje
    </div>
}
@if (ViewBag.mensaje_error != null)
{
    <div class="alert alert-danger mb-2 mt-2" role="alert">
        @ViewBag.mensaje_error
    </div>
}

<h1>Publicación de Subasta: @p.Nombre</h1>
<h2>Articulos:</h2>
<ul>
    @foreach (Articulo a in p.Articulos)
    {
        <li>@a.Nombre - $@a.Precio</li>
    }
</ul>

@if (ViewBag.Oferta != null)
{
    <p>
        <span style="font-weight: bold">Oferta actual con más valor: </span>
        <span class="border-bottom border-success p-2 text-success">@ViewBag.Oferta</span>
    </p>
    @if (p.EstadoPublicacion == Publicacion.Estado.Cerrado)
    {
        <div style="margin-top: 2em; margin-bottom: 1.5em;">
            <span style="font-weight: bold">Vendido a: </span>
            <span class="alert alert-primary">
                <span>@ViewBag.Vendido</span>
            </span>
        </div>
    }
}
else
{
    @if (p.EstadoPublicacion == Publicacion.Estado.Abierto)
    {
        <p style="font-weight: bold" class="border-bottom border-danger p-2 text-danger">No hay ofertas por el momento</p>
    }
}


@if (Context.Session.GetString("rol") != "Administrador")
{
    @if (p.EstadoPublicacion == Publicacion.Estado.Abierto)
    {
        <form method="post" action="/Publicacion/VerSubasta?Id=@p.Id&Monto">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <input type="number" class="form-control" name="Monto">
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary">Ofertar</button>
                </div>
            </div>
        </form>
    }
    else if (p.EstadoPublicacion == Publicacion.Estado.Cerrado)
    {
        <p class="bg-danger text-center p-2 text-white" style="font-weight: bold">Subasta finalizada</p>
    } else
    {
        <p class="bg-warning text-center p-2 text-white" style="font-weight: bold">Subasta cancelada</p>
    }
}
else
{
    if (p.EstadoPublicacion == Publicacion.Estado.Abierto)
    {
        <form method="post" action="/Publicacion/FinalizarSubasta?Id=@p.Id">
            <button class="btn btn-danger">Finalizar Subasta</button>
        </form>
    }
    else if (p.EstadoPublicacion == Publicacion.Estado.Cerrado)
    {
        <p class="bg-danger text-center p-2 text-white" style="font-weight: bold">Subasta finalizada</p>
    } else
    {
        <p class="bg-warning text-center p-2 text-white" style="font-weight: bold">Subasta cancelada</p>
    }
}