@using Dominio.Entidades;
@model Administrador;

<div class="d-flex align-items-center justify-content-center flex-column">
    <h1>Alta administradores </h1>
    <form method="post" class="d-flex align-items-center flex-column gap-2">
        <input type="text" name="Nombre" placeholder="Nombre" value="@Model.Nombre" />
        <input type="text" name="Apellido" placeholder="Apellido" value="@Model.Apellido" />
        <input type="text" name="Email" placeholder="Email" value="@Model.Email" />
        <input type="text" name="Contrasenia" placeholder="Contraseña" value="@Model.Contrasenia" />
        <input type="submit" name="" value="Agregar" />
    </form>
</div>

@if (ViewBag.mensaje != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.mensaje
    </div>
}