@using Dominio.Entidades;
@model Cliente;

<div class="">
    <h1>Alta Cliente</h1>
    <form method="post" class="form-mod d-flex flex-column align-items-start gap-2">
        <label>Nombre</label>
        <input type="text" name="Nombre" value="@Model.Nombre" />
        <label>Apellido</label>
        <input type="text" name="Apellido" value="@Model.Apellido" />
        <label>Email</label>
        <input type="text" name="Email" value="@Model.Email" />
        <label>Contraseña</label>
        <input type="password" name="Contrasenia" value="@Model.Contrasenia" />
        <label>Saldo</label>
        <input type="text" name="Saldo" value="@Model.Saldo" />
        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
</div>

@if (ViewBag.mensaje != null)
{
    <p class="alert alert-danger mt-2">
        @ViewBag.mensaje
    </p>
}