@using Dominio.Entidades;

@if (ViewBag.mensaje != null)
{
    <div class="alert alert-success mb-2 mt-2" role="alert">
        @ViewBag.mensaje
    </div>
}

@{
    var typeuser = Context.Session.GetString("rol");
}

<div>
    <h1>Usuarios</h1>
    <div class="m-2">
        <form action="/Usuario/ListadoUsuariosXNombre" class="mb-2">
            <input type="text" name="Nombre" placeholder="Nombre" />
            <input type="submit" value="Buscar"/>
        </form>

        <form action="/Usuario/ListadoUsuariosXEmail" class="mb-2">
            <input type="text" name="Email" placeholder="Email" />
            <input type="submit" value="Buscar" />
        </form>

        @if (Context.Session.GetString("rol") == "Administrador")
        {
            <a href="/Usuario/Index">Ver Todo</a>
            <a href="/Usuario/AltaAdministrador">Alta Administrador</a>
            <a href="/Usuario/AltaCliente">Alta Clientes</a>
            <a href="/Usuario/ListadoAdministradores">Ver Administradores</a>
            <a href="/Usuario/ListadoClientes">Ver Clientes</a>
        }
        
    </div>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Contraseña</th>
                <th>Saldo</th>
                <th>Tipo</th>
                <th>@* ver *@</th>
                <th>@* modificar *@</th>
            </tr>
        </thead>
        <tbody class="table-striped">
            @{
                bool Isclient(Usuario item)
                {
                    return typeuser == "Administrador" ? true : item is Cliente;
                }
            }
            @foreach (Usuario item in ViewBag.Usuarios)
            {
                if (Isclient(item))
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Nombre</td>
                        <td>@item.Apellido</td>
                        <td>@item.Email</td>
                        <td>@item.Contrasenia</td>
                        @if (item is Cliente)
                        {
                            <td>$@item.ObtenerSaldo()</td>
                        }
                        else
                        {
                            <td><span>-</span></td>
                        }
                        @if (item is Administrador)
                        {
                            <td><span class="text-danger" style="font-weight: bold">Admin</span></td>
                        } else
                        {
                            <td><span class="text-success" style="font-weight: bold">Cliente</span></td>
                        }
                        @if (item.Email == Context.Session.GetString("email"))
                        {
                            <td>
                                <a href="/Usuario/Ver/@item.Id">Ver</a> 
                            </td>
                            <td>
                                <a href="/Usuario/Modificar/@item.Id">Modificar</a>
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>