@using Dominio.Entidades

@{
    var u = ViewBag.Usuario;
}

<div>
    <h1>Usuario</h1>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Contraseña</th>
                @if (u is Cliente){ <th>Saldo</th> }
                <th></th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@u.Id</td>
                <td>@u.Nombre</td>
                <td>@u.Apellido</td>
                <td>@u.Email</td>
                <td>@u.Contrasenia</td>
                @if (u is Cliente){ <td>@u.Saldo</td> }
                @if (u is Cliente)
                {
                    <td>
                        <form>
                            <button class="" type="submit">Recargar Saldo</button>
                        </form>
                    </td>
                }
                <td>
                    @if (u is Administrador)
                    {
                        <span class="text-danger" style="font-weight: bold">Admin</span>
                    } else
                    {
                        <span class="text-success" style="font-weight: bold">Cliente</span>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>