@using Dominio.Entidades

<div>
    <h1>Usuario</h1>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Contraseña</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewBag.Usuario.Id</td>
                <td>@ViewBag.Usuario.Nombre</td>
                <td>@ViewBag.Usuario.Apellido</td>
                <td>@ViewBag.Usuario.Email</td>
                <td>@ViewBag.Usuario.Contrasenia</td>
                <td>
                    @if (ViewBag.Usuario is Administrador)
                    {
                        <span class="text-danger" style="font-weight: bold">Admin</span>
                    } else
                    {
                        <span class="text-success" style="font-weight: bold">Cliente</span>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>